$primary-color:rgb(0, 6, 31);
$secondary-color:rgba(255, 6, 6, 0.386);
$tertiary-color:rgb(255, 6, 6);
$border-radius:20px;
$primary-text:#ffd98e;
$font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;